.lanzamientos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;


}


@media screen and (max-width: 1250px) {

    .lanzamientos {
        display: flex;
        flex-direction: column;
        
    }
}